/* Christian Hart 001-68-3628 */

body {
    background-color: #F4D35E;
    color: #0D3B66;
    font-family: 'Patua One', cursive;
    
}
p {
    font-size: 20px;
    padding: 10px;
    margin: 20px 0;
}
p.title {
    font-size: 20px;
    padding: 10px;
    background-color: #F95738;
    border: #EE964B solid 20px;
    margin: 20px 0;
    /* position: fixed;
    top: 5px; */
    /* box-shadow: 2px 2px 8px black; */
}
span {
    background-color: #F95738;
    border: #EE964B solid 20px;
    padding: 10px;
}

ol, ul {
    display: flex;
}
ul {
    list-style-type: none;
}

li {
    flex-flow: row wrap;
    /*background-color: #4B5842;*/
    font-size: 16px;
    padding: 20px;
    margin: 25px 5px;
    transition: transform 0.5s; 
    text-align: center;

}

li:hover {
    flex-flow: row wrap;
    /*background-color: #4B5842;*/
    font-size: 16px;
    padding: 20px;
    margin: 25px 5px;
    transform: scale(1.1); 
    text-align: center;
}
img {
    margin: 0 20px;
    box-shadow: 2px 2px 8px black;
}
#fav {
    color: yellowgreen;
    text-shadow: 2px 2px 8px black;
}
form {
    margin: 20px;
    padding: 10px;
}
