<!-- Christian Hart 001-68-3628 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/style.css" />
    <title>Document</title>
  </head>
  <body>
    <p>Christian's favorite books are...</p>
    <ol>
      {%for i in range(0, len)%} {% if i == 3 %}
      <li class="fav">{{books[i]}}<img src="{{covers[i]}}" height="500" /></li>

      {% else %}
      <li>{{books[i]}}<img src="{{covers[i]}}" height="500" /></li>

      {% endif %} {%endfor%}
    </ol>
  </body>
</html>
