<!-- Christian Hart 001-68-3628 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Book List</title>
  </head>
  <body>
    <br />
    <p><span>Your favorite books...</span></p>
    <ol>
      {%for fav in favs %}
      <li>
        <img src="{{fav.thumbnail}}" height="200" />
        <p class="title">{{fav.title}}</p>
        <form action="/{{fav.id}}" method="POST">
          <button type="submit" value="{{fav.id}}">Remove from Favs</button>
        </form>
      </li>
      {% endfor %}
    </ol>
    {% if message != None %}
    <p>{{message}}</p>
    {% endif %}
    <p>
      <span>Search for one of <strong>your</strong> favorite books:</span>
    </p>
    <br />
    <form method="GET" action="/">
      <input type="text" name="search" placeholder="Enter a book title" />
      <input type="submit" value="submit" />
    </form>
    <br />
    <ul>
      {%if searchvalue != None%} {%for i in range(0, 5)%}
      <li>
        <img src="{{userresults[i][3]}}" height="200" /><br />
        <p class="title">{{userresults[i][0]}}</p>
        <form action="/" method="POST">
          <input
            type="text"
            hidden
            value="{{userresults[i][0]}}"
            name="title"
          />
          <input
            type="text"
            value="{{userresults[i][1]}}"
            hidden
            name="author"
          />
          <input
            type="text"
            value="{{userresults[i][2]}}"
            hidden
            name="google_id"
          />
          <input
            type="text"
            value="{{userresults[i][3]}}"
            hidden
            name="thumbnail"
          />
          <button type="submit" value="Submit">Add to Favorites</button>
        </form>
      </li>
      {%endfor%} {% endif %}
    </ul>
  </body>
</html>
