<!-- Christian Hart 001-68-3628 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/style.css" />
    <title>Book List</title>
  </head>
  <body>
    <p>Christian's favorite books are...</p>
    <ol>
      {%for i in range(0, len)%} {% if i == 3 %}
      <li class="fav">
        {{dynoBooks[i]}}<img src="{{dynoCovers[i]}}" height="500" />
      </li>

      {% else %}
      <li>{{dynoBooks[i]}}<img src="{{dynoCovers[i]}}" height="500" /></li>

      {% endif %} {%endfor%}
    </ol>
    {{response}}
  </body>
</html>
