<!-- Christian Hart 001-68-3628 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Book List</title>
  </head>
  <body>
    <br />
    <p><span>Christian's favorite books are...</span></p>
    <ol>
      {%for i in range(0, len)%} {% if i == 3 %}
      <li class="fav">
        <img src="{{covers[i]}}" height="200" />
        <p class="title">{{books[i]}}</p>
      </li>

      {% else %}
      <li>
        <img src="{{covers[i]}}" height="200" />
        <p class="title">{{books[i]}}</p>
      </li>

      {% endif %} {%endfor%}
    </ol>
    <p>
      <span>Search for one of <strong>your</strong> favorite books:</span>
    </p>
    <br />
    <form method="GET" action="/">
      <input type="text" name="search" placeholder="Enter a book title" />
      <input type="submit" value="submit" />
    </form>
    <br />
    <ul style="list-style-type: none">
      {%for i in range(0, 5)%}
      <li>
        <img src="{{userresults[1]}}" height="200" /><br />
        <p><span>{{userresults[0]}}</span></p>
      </li>
      {%endfor%}
    </ul>
  </body>
</html>
